:root {
  --background-color: #37474f;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.wrap {
  margin-top: 3em;
}

/* 재사용 클래스 */
.hover:hover {
  transform: scale(1.1);
}
