@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

#wrap {
  width: 450px;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #333;
}

/* header */
#header {
  padding-top: 20px;
  text-align: center;
}

.header__title {
  font-size: 1.2em;
  color: #666;
}

.header__dday {
  margin: 10px;
  margin-bottom: 0;
  font-family: "jua";
  font-weight: bold;
  font-size: 3.5em;
  color: #222;
}

/* bar */
.bar {
  width: 100%;
  margin-top: 50px;
  padding-left: 15px;
  background-color: #747474;
  font-size: 1.2em;
  height: 30px;
  line-height: 30px; /* height 크기에 맞게 */
}

/* container */
#container {
  margin: 20px 30px;
}

/* day */
.day {
  border-bottom: 1px dashed #777;
  height: 60px;
}

.day:last-child {
  border-bottom: none;
}

.day__title {
  float: left;
  width: 160px;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 60px;
  color: #040404;
}

.day__date {
  float: right;
  margin-right: 2%;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 60px;
  color: #777;
}
